.container {
  position: fixed;
  top: 35%;
  right: 0px;
  color: white;
}

.headerContainer {
  text-align: center;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.88);
  border-radius: 8px 0 0 8px;
}

.headerExpanded {
  border-radius: 8px 0 0 0;
  border-bottom: 1px solid rgba(187, 187, 187, 0.6);
}

.iconImg {
  border-radius: 8px 0 0 8px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  display: inline-block;
}

.visibleFadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hideFadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.headerContent {
  display: inline-block;
  vertical-align: top;
}

.visibleHeaderContent {
  padding: 20px 15px 0 0;
  width: 260px;
  transition: all 0.25s ease;
}

.hideHeaderContent {
  padding: 20px 0px 0 0;
  width: 0;
  transition: all 0.25s ease;
}

.bodyContent {
  background-color: rgba(0, 0, 0, 0.88);
  border: 1px solid;
  box-sizing: border-box;
  width: 340px;
  border: 0;
  border-radius: 0 0 0 8px;
  font-size: 17px;
}

.visibleBodyContent {
  padding: 20px 10px 10px;
  height: 200px;
  transition: padding 0s 0.25s ease, width 0s 0.25s ease,
    height 0.25s 0.25s ease;
}

.hideBodyContent {
  height: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: height 0.25s ease;
}

.closeButton {
  width: 10px;
  position: absolute;
  left: -24px;
  top: 6px;
  color: black;
}

.nowrap {
  white-space: nowrap;
}

.handCursor {
  cursor: pointer;
}
