<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading small-site-title" style="text-align: center;">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1 footer-content">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
      
     <div class="footer-col footer-col-2 site-description">
     </div>

      <div class="footer-col footer-col-3 site-description">
        <p style="float: right">Powered By <a href="http://github.com/hemangsk/Gravity">Gravity</a></p>
      </div>
    </div>

  </div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123882941-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-123882941-1');
  </script>


</footer>
