---
layout: default
---

<div class="home">


  {% for post in paginator.posts%}
  <div class="post postContent">
    <div  class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
    </div>
    <div class="postTag">
      {{post.tag}}
    </div>
    <br>
    <div class="postTitle">
    <a class='postLink' href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    </div>
    <div class="postExt">
   {{ post.content | strip_html | truncate:200}}
    </div>
  </div>

  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <nav class="pagination">
      {% if paginator.previous_page %}
        <a class="paginationLink" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em class="paginationLink paginationLinkCurrent">{{ page }}</em>
      {% elsif page == 1 %}
        <a class="paginationLink" href="/">{{ page }}</a>
      {% else %}
        <a class="paginationLink" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="paginationLink" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% endif %}
    </nav>
  {% endif %}
  <!--<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta-main">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link-main" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>-->

  <br>

  <div>
    <h2 style="text-align:center">The browser extension/addon to access the medium.com premium articles without membership subscription.</h2>

    <p>This tool helps you overcome the 3 article/month limit on medium.com and allows you to read unlimited articles. Just install the extension, keep reading medium.com. No more action needed, everything is taken care for you! :)</p>

    <p>The extension now supports identifying articles of external publishers on medium.com by suggesting a link to read full content with the help of a Google search.</p>
    <p><i>***Permission to access google.com is required for the above use case***</i></p>

    <p>Custom domains supported are:</p>
    <ul>
      <li>https://*.medium.com</li>
      <li>https://towardsdatascience.com</li>
      <li>https://hackernoon.com</li>
      <li>https://medium.freecodecamp.org</li>
      <li>https://psiloveyou.xyz</li>
      <li>https://betterhumans.coach.me</li>
      <li>https://codeburst.io</li>
      <li>https://theascent.pub</li>
      <li>https://medium.mybridge.co</li>
      <li>https://uxdesign.cc</li>
      <li>https://levelup.gitconnected.com</li>
      <li>https://itnext.io</li>
      <li>https://entrepreneurshandbook.co</li>
      <li>https://proandroiddev.com</li>
      <li>https://blog.prototypr.io</li>
      <li>https://thebolditalic.com</li>
      <li>https://blog.usejournal.com</li>
      <li>https://blog.angularindepth.com</li>
      <li>https://uxplanet.org</li>
      <li>https://instagram-engineering.com</li>
      <li>https://calia.me</li>
      <li>https://productcoalition.com</li>
      <li>https://engineering.opsgenie.com</li>
      <li>https://android.jlelse.eu</li>
      <li>https://blog.bitsrc.io</li>
      <li>https://blog.devartis.com</li>
      <li>https://blog.maddevs.io</li>
      <li>https://blog.getambassador.io</li>
      <li>https://uxplanet.org</li>
      <li>https://instagram-engineering.com</li>
      <li>https://calia.me</li>
      <li>https://productcoalition.com</li>
      <li>https://engineering.opsgenie.com</li>
      <li>https://android.jlelse.eu</li>
      <li>https://robinhood.engineering</li>
      <li>https://blog.hipolabs.com</li>
      <li>https://ux.shopify.com</li>
      <li>https://engineering.talkdesk.com</li>
      <li>https://blog.codegiant.io</li>
      <li>https://tech.olx.com</li>
      <li>https://netflixtechblog.com</li>
      <li>https://hackingandslacking.com</li>
      <li>https://blog.kotlin-academy.com</li>
      <li>https://blog.securityevaluators.com</li>
      <li>https://blog.kubernauts.io</li>
      <li>https://blog.coffeeapplied.com</li>
      <li>https://unbounded.io</li>
      <li>https://writingcooperative.com</li>
      <li>https://blog.echobind.com</li>
      <li>https://*.plainenglish.io</li>
      <li>https://*.betterprogramming.pub</li>
      <li>https://blog.doit-intl.com</li>
      <li>https://eand.co</li>
      <li>https://techuisite.com</li>
      <li>https://levelupprogramming.net</li>
      <li>https://betterhumans.pub</li>
      <li>https://betterprogramming.pub</li>
      <li>https://pub.towardsai.net</li>
      <li>https://bettermarketing.pub</li>
      <li>https://themakingofamillionaire.com</li>
      <li>https://medium.datadriveninvestor.com</li>
      <li>https://bootcamp.uxdesign.cc</li>
      <li>https://*.baos.pub</li>
      <li>https://www.inbitcoinwetrust.net</li>
      <li>https://blog.prototypr.io</li>
      <li>https://blog.devgenius.io/</li>
      <li>https://blog.angulartraining.com/</li>
    </ul>
    <p>Please get in touch if you need any other custom medium domain supported.</p>

    <p>This extension is open sourced here - <a href="https://github.com/manojVivek/medium-unlimited"><i class="fa fa-github"></i> https://github.com/manojVivek/medium-unlimited</a></p>

  </div>


</div>
